@import "../utilityStyles/theme"; 

body {
  margin: 90px 0 0 0;
}

.skip-link {
  display: none;
}

.link-github svg path {
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.link-github svg:hover path {
  transform: rotate(360deg);
}
