@import "../utilityStyles/theme";

#about {
  background-color: $color-background;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px 0;
  justify-content: space-evenly;

  .container {
    width: 45%; 
    margin: 10px; 

    background-color: $color-card;
    padding: 20px;
    border-radius: 10px;

    h2 {
      margin-bottom: 20px;
      color: $color-primary;
    }

    p {
      line-height: 1.5em;
      color: $color-primary;
    }

    a {
      color: $color-contrast;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 10px;

      li {
        padding: 10px;
        margin: 10px;
        background-color: $color-primary-alt;
        border-radius: 10%;
        transition: transform 0.3s ease-in-out;
        color: $color-primary;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      width: 100%; 
      margin: 10px 0; 
    }
  }
}
