@import "../utilityStyles/_theme.scss";

#files {
  .container {
    background-color: $color-card;
    border-radius: 10px;
    max-width: 325px;

    h3 {
      color: $color-primary;
      padding-bottom: 30px;
    }

    a {
      font-size: 20px;
    }
  }
}