@use "../compositionRelatedStyles/mixins" as mixins;
@import "../utilityStyles/theme";

header {
  background-color: $color-primary-alt;
  background-image: url("https://svgsilh.com/svg/980280.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-size: 110%;
  position: relative;
  height: 500px;

  @include mixins.respond(small) {
    margin-top: 150px;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @include mixins.respond(small) {
      width: 300px;
    }

    h1, h2, p {
      color: $color-primary;
      margin: 10px;
    }

    a {
      color: $color-primary;
    }

    .link-github {
      background-color: $color-primary;
      color: $color-primary-alt;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 30%;
      margin: 30px auto;
      padding: 10px 0;
      border-radius: 10px;
      border: 2px solid transparent;
      transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

      @include mixins.respond(small) {
        max-width: 50%;
      }

      svg {
        width: 20px;
        margin-right: 10px;
        fill: $color-primary;
        transition: fill 0.3s ease, transform 0.3s ease;

        mask: url("#svgMask");
      }

      &:hover {
        background-color: $color-primary-alt;
        color: $color-primary;
        border-color: #000;

        svg {
          fill: $color-primary;
          transform: rotate(360deg);
        }
      }

      &.white-hover {
        &:hover {
          border-color: #fff;
        }
      }
    }
  }
}

svg.mask {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

rect.mask-background {
  fill: $color-background; 
}
