// header {
//   --logomark-height: 3em;
//   --logomark-padding: 0 1em;

//   display: grid;
//   min-height: 40vh;
//   place-items: center;
//   padding: 10vh 2rem;
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233a00ff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
//     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d42257' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
//   background-repeat: repeat-x;
//   background-position: 0 -38px, 17px -40px;
//   color: var(--color-primary);
//   text-align: center;

//   h1 {
//     @include logomark;
//   }

//   h2 {
//     max-width: 30ch;
//   }
// }


@import "../utilityStyles/theme"; 

header {
    background-color: $color-primary-alt;
    background-image: url("https://svgsilh.com/svg/980280.svg");
    background-repeat: no-repeat;  /* Don't repeat the image */
    background-position: center;  /* Center the image */
    background-size: cover;       /* Scale the image to cover the entire body */
    background-attachment: fixed;  /* Keep the image static when scrolling */
    background-size: 110%; /* Scales down to 80% of the body's width */
    position: relative;
    height: 500px;

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1, h2, p {
            color: $color-primary;
            margin: 10px;
        }

        a{
            color: $color-primary;
        }

        .link-github {
            background-color: $color-primary;
            color: $color-primary-alt;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 30%;
            margin: 30px auto;
            padding: 10px 0;
            border-radius: 10px;

            svg {
                width: 20px;
                margin-right: 10px;
                fill: $color-primary-alt;
            }
        }

    }

}